openapi: 3.1.0
info:
  contact:
    email: support@attio.com
    name: Attio Support
    url: https://attio.com/help
  title: Attio API
  version: 2.0.0
servers:
- description: Production
  url: https://api.attio.com
security:
- oauth2: []
tags:
- description: "Objects are the core data models inside of Attio. They contain standard\
    \ objects, such as [people](/docs/standard-objects-people), [companies](/docs/standard-objects-companies)\
    \ or [deals](/docs/standard-objects-deals), and custom objects that are specific\
    \ to your use-case. See our [data model guide](/docs/data-model) for more information."
  name: Objects
- description: "Attributes model properties of objects and lists. Some attributes,\
    \ such as the `name` attribute on a person, are system-defined, while others are\
    \ user-defined. Attributes are one of [many types](/docs/attribute-types) such\
    \ as text, location or select. See our [data model guide](/docs/data-model) for\
    \ more information."
  name: Attributes
- description: "Records are individual instances of objects e.g. a specific [person](/docs/standard-objects-people)\
    \ or [company](/docs/standard-objects-companies). See our [data model guide](/docs/data-model)\
    \ for more information."
  name: Records
- description: "Lists are used to model a particular process. A list contains many\
    \ records of a single object type, where each record is represented by an entry.\
    \ Entries contain their own data from attributes defined on the list and also\
    \ data from their parent record. See our [data model guide](/docs/data-model)\
    \ for more information."
  name: Lists
- description: Meta endpoints are used to get information about the API token.
  name: Meta
- description: "Entries are elements in a list that reference a single parent record.\
    \ Entries contain their own data from attributes defined on the list and also\
    \ data from their parent record. See our [data model guide](/docs/data-model)\
    \ for more information."
  name: Entries
- description: Workspace members represent a user with access to a workspace. Workspace
    members are assigned roles that determine what they can do within the workspace.
  name: Workspace members
- description: Notes are rich text documents that reference a single parent record.
  name: Notes
- description: "A task is a defined, actionable item with references to linked records\
    \ and assigned workspace members."
  name: Tasks
- description: "Webhooks allow you to listen for changes to data in Attio, for example\
    \ when a record is updated."
  name: Webhooks
- description: "Threads are groups of [comments](/reference/get_v2-comments-comment-id)\
    \ on either a record or entry."
  name: Threads
- description: "Comments are messages on a [thread](/reference/get_v2-threads)."
  name: Comments
- description: People are one of the core objects inside of Attio. Person records
    can be added to lists and can be created automatically when syncing your mailbox.
  name: People
- description: Companies are one of the core objects inside of Attio. Company records
    can be added to lists and can be created automatically when syncing your mailbox.
  name: Companies
- description: Users are an optional standard object that represents a user of your
    system. Users can belong to many workspaces.
  name: Users
- description: Deals are an optional standard object that represent a deal or opportunity.
  name: Deals
- description: Workspaces are an optional standard object that represent a workspace
    or account in your system. Workspaces have many users and can be used to model
    a multi-tenant system. A company record can optionally have multiple workspaces.
  name: Workspaces
paths:
  /v2/objects:
    get:
      description: |-
        Lists all system-defined and user-defined objects in your workspace.

        Required scopes: `object_configuration:read`.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_get_200_response'
          description: Success
      security:
      - oauth2:
        - object_configuration:read
      summary: List objects
      tags:
      - Objects
    post:
      description: |-
        Creates a new custom object in your workspace.

        Required scopes: `object_configuration:read-write`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_post_200_response'
          description: Success
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_post_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Create an object
      tags:
      - Objects
  /v2/objects/{object}:
    get:
      description: |-
        Gets a single object by its `object_id` or slug.

        Required scopes: `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug to identify the object.
          example: people
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
      summary: Get an object
      tags:
      - Objects
    patch:
      description: |-
        Updates a single object. The object to be updated is identified by its `object_id`.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug to identify the object.
          example: people
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__patch_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Update an object
      tags:
      - Objects
  /v2/{target}/{identifier}/attributes:
    get:
      description: |-
        Lists all attributes defined on a specific object or list. Attributes are returned in the order that they are sorted by in the UI.

        Required scopes: `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attributes are on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the attributes
            belong to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      - explode: true
        in: query
        name: show_archived
        required: false
        schema:
          description: "Whether archived attributes should be included in the results.\
            \ See the [full guide to archiving here](/docs/archiving-vs-deleting)."
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_get_200_response'
          description: Success
      security:
      - oauth2:
        - object_configuration:read
      summary: List attributes
      tags:
      - Attributes
    post:
      description: |-
        Creates a new attribute on either an object or a list.

        To create an attribute on an object, you must also have the `object_configuration:read-write` scope.

        To create an attribute on a list, you must also have the `list_configuration:read-write` scope.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is to be created on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the attribute
            belongs to.
          example: 97052eb9-e65e-443f-a297-f2d9a4a7f795
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_409_response'
          description: Conflict
      security:
      - oauth2: []
      summary: Create an attribute
      tags:
      - Attributes
  /v2/{target}/{identifier}/attributes/{attribute}:
    get:
      description: |-
        Gets information about a single attribute on either an object or a list.

        Required scopes: `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
      summary: Get an attribute
      tags:
      - Attributes
    patch:
      description: |-
        Updates a single attribute on a given object or list.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Update an attribute
      tags:
      - Attributes
  /v2/{target}/{identifier}/attributes/{attribute}/options:
    get:
      description: |-
        Lists all select options for a particular attribute on either an object or a list.

        Required scopes: `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the select attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to list select
            options on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: true
        in: query
        name: show_archived
        required: false
        schema:
          description: '`true` if you want the results to include archived select
            options.'
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
      summary: List select options
      tags:
      - Attributes
    post:
      description: |-
        Adds a select option to a select attribute on an object or a list.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the select attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute to create a select
            option on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Create a select option
      tags:
      - Attributes
  /v2/{target}/{identifier}/attributes/{attribute}/options/{option}:
    patch:
      description: |-
        Updates a select option on an attribute on either an object or a list.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list.
          enum:
          - objects
          - lists
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the select attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the select attribute.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: false
        in: path
        name: option
        required: true
        schema:
          description: A UUID or select option title to identify the select option
            you would like to update.
          example: Medium
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options__option__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options__option__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__options_post_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Update a select option
      tags:
      - Attributes
  /v2/{target}/{identifier}/attributes/{attribute}/statuses:
    get:
      description: |-
        Lists all statuses for a particular status attribute on either an object or a list.

        Required scopes: `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list. Please note
            that the company and people objects do not support status attributes at
            this time.
          enum:
          - lists
          - objects
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the status attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to list statuses
            on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: true
        in: query
        name: show_archived
        required: false
        schema:
          default: false
          description: "`true` if you want the results to include archived statuses.\
            \ See our [archiving guide](/docs/archiving-vs-deleting) for more information\
            \ on archiving."
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
      summary: List statuses
      tags:
      - Attributes
    post:
      description: |-
        Add a new status to a status attribute on either an object or a list.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list. Please note
            that company and person objects do not support status attributes at this
            time.
          enum:
          - lists
          - objects
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the status attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute the status will belong
            to.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Create a status
      tags:
      - Attributes
  /v2/{target}/{identifier}/attributes/{attribute}/statuses/{status}:
    patch:
      description: |-
        Update a status on an status attribute on either an object or a list.

        Required scopes: `object_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: target
        required: true
        schema:
          description: Whether the attribute is on an object or a list. Please note
            that company and person objects do not support status attributes at this
            time.
          enum:
          - lists
          - objects
          example: lists
          type: string
        style: simple
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          description: A UUID or slug to identify the object or list the status attribute
            belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute to update the status
            on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: false
        in: path
        name: status
        required: true
        schema:
          description: A UUID or status title to identify the status to update.
          example: In Progress
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses__status__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses__status__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__statuses_post_409_response'
          description: Conflict
      security:
      - oauth2:
        - object_configuration:read-write
      summary: Update a status
      tags:
      - Attributes
  /v2/objects/{object}/records/query:
    post:
      description: |-
        Lists people, company or other records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug to identify the object to list records for.
          example: people
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List records
      tags:
      - Records
  /v2/objects/{object}/records:
    post:
      description: |-
        Creates a new person, company or other record. This endpoint will throw on conflicts of unique attributes. If you would prefer to update records on conflicts, please use the [Assert record endpoint](/reference/put_v2-objects-object-records) instead.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: The UUID or slug identifying the object the created record
            should belong to.
          example: people
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__records_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a record
      tags:
      - Records
    put:
      description: |-
        Use this endpoint to create or update people, companies and other records. A matching attribute is used to search for existing records. If a record is found with the same value for the matching attribute, that record will be updated. If no record with the same value for the matching attribute is found, a new record will be created instead. If you would like to avoid matching, please use the [Create record endpoint](/reference/post_v2-objects-object-records).

        If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug to identify the object the record should belong
            to.
          example: people
          type: string
        style: simple
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: The ID or slug of the attribute to use to check if a record
            already exists. The attribute must be unique.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a record
      tags:
      - Records
  /v2/objects/{object}/records/{record_id}:
    delete:
      description: |-
        Deletes a single record (e.g. a company or person) by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: The UUID or slug of the object the record belongs to.
          example: people
          type: string
        style: simple
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the record to delete.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a record
      tags:
      - Records
    get:
      description: |-
        Gets a single person, company or other record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug identifying the object that the record belongs
            to.
          example: people
          type: string
        style: simple
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID identifying the record.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a record
      tags:
      - Records
    patch:
      description: |-
        Use this endpoint to update people, companies and other records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert record endpoint](/reference/put_v2-objects-object-records) to overwrite or remove multiselect attribute values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug of the object the record belongs to.
          example: people
          type: string
        style: simple
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the record to update.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a record
      tags:
      - Records
  /v2/objects/{object}/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug to identify the object the record belongs to.
          example: people
          type: string
        style: simple
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID to identify the record you want to query values on.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2__target___identifier__attributes__attribute__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List record attribute values
      tags:
      - Records
  /v2/objects/{object}/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: object
        required: true
        schema:
          description: A UUID or slug identifying the object that the record belongs
            to.
          example: people
          type: string
        style: simple
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID identifying the record.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List record entries
      tags:
      - Records
  /v2/lists:
    get:
      description: |-
        List all lists that your access token has access to. lists are returned in the order that they are sorted in the sidebar.

        Required scopes: `list_configuration:read`.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_get_200_response'
          description: Success
      security:
      - oauth2:
        - list_configuration:read
      summary: List all lists
      tags:
      - Lists
    post:
      description: "Creates a new list.\n\nOnce you have your list, add attributes\
        \ to it using the [Create attribute](/reference/post_v2-target-identifier-attributes)\
        \ API, and add records to it using the [Add records to list](/reference/post_v2-lists-list-entries)\
        \ API. \n\nNew lists must specify which records can be added with the `parent_object`\
        \ parameter which accepts either an object slug or an object ID. Permissions\
        \ for the list are controlled with the `workspace_access` and `workspace_member_access`\
        \ parameters.\n\nPlease note that new lists must have either `workspace_access`\
        \ set to `\"full-access\"` or one or more element of `workspace_member_access`\
        \ with a `\"full-access\"` level. It is also possible to receive a `403` billing\
        \ error if your workspace is not on a plan that supports either advanced workspace\
        \ or workspace member-level access for lists.\n\nRequired scopes: `list_configuration:read-write`."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_400_response'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_configuration:read-write
      summary: Create a list
      tags:
      - Lists
  /v2/lists/{list}:
    get:
      description: |-
        Gets a single list in your workspace that your access token has access to.

        Required scopes: `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug to identify the list.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_configuration:read
      summary: Get a list
      tags:
      - Lists
    patch:
      description: |-
        Updates an existing list. Permissions for the list are controlled with the `workspace_access` and `workspace_member_access` parameters. Please note that lists must have either `workspace_access` set to `"full-access"` or one or more element of `workspace_member_access` with a `"full-access"` level. It is also possible to receive a `403` billing error if your workspace is not on a plan that supports either advanced workspace or workspace member level access for lists. Changing the parent object of a list is not possible through the API as it can have unintended side-effects that should be considered carefully. If you wish to carry out a parent object change you should do so through the UI.

        Required scopes: `list_configuration:read-write`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug to identify the list to update.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists__list__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_configuration:read-write
      summary: Update a list
      tags:
      - Lists
  /v2/lists/{list}/entries/query:
    post:
      description: |-
        Lists entries in a given list, with the option to filter and sort results.

        Required scopes: `list_entry:read`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug to identify the list to retrieve entries from.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects__object__records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_query_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read
        - list_configuration:read
      summary: List entries
      tags:
      - Entries
  /v2/lists/{list}/entries:
    post:
      description: |-
        Adds a record to a list as a new list entry. This endpoint will throw on conflicts of unique attributes. Multiple list entries are allowed for the same parent record

        Required scopes: `list_entry:read-write`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: The UUID or slug identifying the list that the created list
            entry should belong to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists__list__entries_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read-write
        - list_configuration:read
      summary: Create an entry (add record to list)
      tags:
      - Entries
    put:
      description: |-
        Use this endpoint to create or update a list entry for a given parent record. If an entry with the specified parent record is found, that entry will be updated. If no such entry is found, a new entry will be created instead. If there are multiple entries with the same parent record, this endpoint with return the "MULTIPLE_MATCH_RESULTS" error. When writing to multi-select attributes, all values will be either created or deleted as necessary to match the list of values supplied in the request body.

        Required scopes: `list_entry:read-write`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug of the list the list entry belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists__list__entries_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read-write
        - list_configuration:read
      summary: Assert a list entry by parent
      tags:
      - Entries
  /v2/lists/{list}/entries/{entry_id}:
    delete:
      description: |-
        Deletes a single list entry by its `entry_id`.

        Required scopes: `list_entry:read-write`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug identifying the list the entry is in.
          example: enterprise_sales
          type: string
        style: simple
      - explode: false
        in: path
        name: entry_id
        required: true
        schema:
          description: A UUID identifying the entry to delete.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read-write
        - list_configuration:read
      summary: Delete a list entry
      tags:
      - Entries
    get:
      description: |-
        Gets a single list entry by its `entry_id`.

        Required scopes: `list_entry:read`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug identifying the list the entry is in.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: entry_id
        required: true
        schema:
          description: A UUID identifying the entry.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read
        - list_configuration:read
      summary: Get a list entry
      tags:
      - Entries
    patch:
      description: |-
        Use this endpoint to update list entries by `entry_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the `PUT` endpoint to overwrite or remove multiselect attribute values.

        Required scopes: `list_entry:read-write`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug of the list the list entry belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: entry_id
        required: true
        schema:
          description: A UUID of the list entry to update.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists__list__entries__entry_id__put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries__entry_id__put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read-write
        - list_configuration:read
      summary: Update a list entry (append multiselect values)
      tags:
      - Entries
    put:
      description: |-
        Use this endpoint to update list entries by `entry_id`. If the update payload includes multiselect attributes, the values supplied will overwrite/remove the list of values that already exist (if any). Use the `PATCH` endpoint to add multiselect attribute values without removing those value that already exist.

        Required scopes: `list_entry:read-write`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug of the list the list entry belongs to.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: simple
      - explode: false
        in: path
        name: entry_id
        required: true
        schema:
          description: A UUID of the list entry to update.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_lists__list__entries__entry_id__put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__entries__entry_id__put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read-write
        - list_configuration:read
      summary: Update a list entry (overwrite multiselect values)
      tags:
      - Entries
  /v2/lists/{list}/entries/{entry_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a list entry. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `list_entry:read`, `list_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: list
        required: true
        schema:
          description: A UUID or slug identifying the list the entry is in.
          example: enterprise_sales
          type: string
        style: simple
      - explode: false
        in: path
        name: entry_id
        required: true
        schema:
          description: A UUID identifying the entry.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_lists__list__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - list_entry:read
        - list_configuration:read
      summary: List attribute values for a list entry
      tags:
      - Entries
  /v2/workspace_members:
    get:
      description: |-
        Lists all workspace members in the workspace.

        Required scopes: `user_management:read`.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_workspace_members_get_200_response'
          description: Success
      security:
      - oauth2:
        - user_management:read
      summary: List workspace members
      tags:
      - Workspace members
  /v2/workspace_members/{workspace_member_id}:
    get:
      description: |-
        Gets a single workspace member by ID.

        Required scopes: `user_management:read`.
      parameters:
      - explode: false
        in: path
        name: workspace_member_id
        required: true
        schema:
          description: A UUID to identify the workspace member.
          example: 50cf242c-7fa3-4cad-87d0-75b1af71c57b
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_workspace_members__workspace_member_id__get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_workspace_members__workspace_member_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - user_management:read
      summary: Get a workspace member
      tags:
      - Workspace members
  /v2/notes:
    get:
      description: |-
        List notes for all records or for a specific record.

        Required scopes: `note:read`, `object_configuration:read`, `record_permission:read`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `10`\
            \ and the maximum is `50`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      - explode: true
        in: query
        name: parent_object
        required: false
        schema:
          description: The slug or ID of the parent object the notes belong to.
          example: people
          type: string
        style: form
      - explode: true
        in: query
        name: parent_record_id
        required: false
        schema:
          description: The ID of the parent record the notes belong to.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_notes_get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - note:read
        - object_configuration:read
        - record_permission:read
      summary: List notes
      tags:
      - Notes
    post:
      description: |-
        Creates a new note for a given record.

        At present, notes can only be created from plaintext without formatting.

        Required scopes: `note:read-write`, `object_configuration:read`, `record_permission:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_notes_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_notes_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - note:read-write
        - object_configuration:read
        - record_permission:read
      summary: Create a note
      tags:
      - Notes
  /v2/notes/{note_id}:
    delete:
      description: |-
        Delete a single note by ID.

        Required scopes: `note:read-write`.
      parameters:
      - explode: false
        in: path
        name: note_id
        required: true
        schema:
          description: A UUID which identifies the note to delete.
          example: ff3f3bd4-40f4-4f80-8187-cd02385af424
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_notes__note_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - note:read-write
      summary: Delete a note
      tags:
      - Notes
    get:
      description: |-
        Get a single note by ID.

        Required scopes: `note:read`, `object_configuration:read`, `record_permission:read`.
      parameters:
      - explode: false
        in: path
        name: note_id
        required: true
        schema:
          description: A UUID which identifies the note.
          example: ff3f3bd4-40f4-4f80-8187-cd02385af424
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_notes_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_notes__note_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - note:read
        - object_configuration:read
        - record_permission:read
      summary: Get a note
      tags:
      - Notes
  /v2/tasks:
    get:
      description: |-
        List all tasks. Results are sorted by creation date, from oldest to newest.

        Required scopes: `task:read`, `object_configuration:read`, `record_permission:read`, `user_management:read`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. Defaults to 500.\
            \ See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. Defaults\
            \ to 0. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          description: "Optionally sort the results. \"created_at:asc\" returns oldest\
            \ results first, \"created_at:desc\" returns the newest results first.\
            \ If unspecified, defaults to \"created_at:asc\" (oldest results first)."
          enum:
          - created_at:asc
          - created_at:desc
          example: created_at:desc
          type: string
        style: form
      - explode: true
        in: query
        name: linked_object
        required: false
        schema:
          description: "Pass a value to this parameter to filter results to only those\
            \ tasks that contain the specified record in the `linked_records` property\
            \ of the task. This parameter should identify the object that the linked\
            \ record belongs to. For example, if filtering to tasks that link to a\
            \ specific person record, this parameter should be `people`. If provided,\
            \ `linked_record_id` must also be provided."
          example: people
          type: string
        style: form
      - explode: true
        in: query
        name: linked_record_id
        required: false
        schema:
          description: "Pass a value to this parameter to filter results to only those\
            \ tasks that contain the specified record in the `linked_records` property\
            \ of the task. This parameter should contain the record ID of the linked\
            \ record. If provided, `linked_object` must also be provided."
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: assignee
        required: false
        schema:
          description: Filter tasks by workspace member assignees. Workspace members
            can be referenced by either their email address or ID. Pass an empty value
            or the string `null` to find tasks with no assignee.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: is_completed
        required: false
        schema:
          description: "Filter tasks by whether they have been completed. By default,\
            \ both completed and non-completed tasks are returned. Specify `true`\
            \ to only return completed tasks, or `false` to only return non-completed\
            \ tasks."
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_get_200_response'
          description: Success
      security:
      - oauth2:
        - task:read
        - object_configuration:read
        - record_permission:read
        - user_management:read
      summary: List tasks
      tags:
      - Tasks
    post:
      description: |-
        Creates a new task.

        At present, tasks can only be created from plaintext without record reference formatting.

        Required scopes: `task:read-write`, `object_configuration:read`, `record_permission:read`, `user_management:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_tasks_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects__object__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - task:read-write
        - object_configuration:read
        - record_permission:read
        - user_management:read
      summary: Create a task
      tags:
      - Tasks
  /v2/tasks/{task_id}:
    delete:
      description: |-
        Delete a task by ID.

        Required scopes: `task:read-write`.
      parameters:
      - explode: false
        in: path
        name: task_id
        required: true
        schema:
          description: The ID of the task to delete.
          example: 649e34f4-c39a-4f4d-99ef-48a36bef8f04
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks__task_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - task:read-write
      summary: Delete a task
      tags:
      - Tasks
    get:
      description: |-
        Get a single task by ID.

        Required scopes: `task:read`, `object_configuration:read`, `record_permission:read`, `user_management:read`.
      parameters:
      - explode: false
        in: path
        name: task_id
        required: true
        schema:
          description: The ID of the task.
          example: 649e34f4-c39a-4f4d-99ef-48a36bef8f04
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks__task_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - task:read
        - object_configuration:read
        - record_permission:read
        - user_management:read
      summary: Get a task
      tags:
      - Tasks
    patch:
      description: |-
        Updates an existing task by `task_id`. At present, only the `deadline_at`, `is_completed`, `linked_records`, and `assignees` fields can be updated.

        Required scopes: `task:read-write`, `object_configuration:read`, `record_permission:read`, `user_management:read`.
      parameters:
      - explode: false
        in: path
        name: task_id
        required: true
        schema:
          description: The ID of the task to update.
          example: 649e34f4-c39a-4f4d-99ef-48a36bef8f04
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_tasks__task_id__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_tasks__task_id__patch_404_response'
          description: Not Found
      security:
      - oauth2:
        - task:read-write
        - object_configuration:read
        - record_permission:read
        - user_management:read
      summary: Update a task
      tags:
      - Tasks
  /v2/threads:
    get:
      description: |-
        List threads of comments on a record or list entry.

        To view threads on records, you will need the `object_configuration:read` and `record_permission:read` scopes.

        To view threads on list entries, you will need the `list_configuration:read` and `list_entry:read` scopes.

        Required scopes: `comment:read`.
      parameters:
      - explode: true
        in: query
        name: record_id
        required: false
        schema:
          description: Use this parameter to filter to threads on a specific record.
            Must be passed with `object`.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: object
        required: false
        schema:
          description: Use this parameter to filter to threads on a specific record.
            Must be passed with `record_id`. Accepts either a slug or an ID.
          example: people
          type: string
        style: form
      - explode: true
        in: query
        name: entry_id
        required: false
        schema:
          description: Use this parameter to filter to threads on a specific entry.
            Must be passed with `list`.
          example: 2e6e29ea-c4e0-4f44-842d-78a891f8c156
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: list
        required: false
        schema:
          description: Use this parameter to filter to threads on a specific entry.
            Must be passed with `entry_id`. Accepts either a slug or an ID.
          example: 33ebdbe9-e529-47c9-b894-0ba25e9c15c0
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `10`\
            \ and the maximum is `50`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_threads_get_200_response'
          description: Success
      security:
      - oauth2:
        - comment:read
      summary: List threads
      tags:
      - Threads
  /v2/threads/{thread_id}:
    get:
      description: |-
        Get all comments in a thread.

        To view threads on records, you will need the `object_configuration:read` and `record_permission:read` scopes.

        To view threads on list entries, you will need the `list_configuration:read` and `list_entry:read` scopes.

        Required scopes: `comment:read`.
      parameters:
      - explode: false
        in: path
        name: thread_id
        required: true
        schema:
          description: A UUID which identifies the thread.
          example: a649e4d9-435c-43fb-83ba-847b4876f27a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_threads__thread_id__get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_threads__thread_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - comment:read
      summary: Get a thread
      tags:
      - Threads
  /v2/comments:
    post:
      description: |-
        Creates a new comment related to an existing thread, record or entry.

        To create comments on records, you will need the `object_configuration:read` and `record_permission:read` scopes.

        To create comments on list entries, you will need the `list_configuration:read` and `list_entry:read` scopes.

        Required scopes: `comment:read-write`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_comments_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_comments_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_comments_post_400_response'
          description: Bad Request
      security:
      - oauth2:
        - comment:read-write
      summary: Create a comment
      tags:
      - Comments
  /v2/comments/{comment_id}:
    delete:
      description: |-
        Deletes a comment by ID. If deleting a comment at the head of a thread, all messages in the thread are also deleted.

        Required scopes: `comment:read-write`.
      parameters:
      - explode: false
        in: path
        name: comment_id
        required: true
        schema:
          description: The ID of the comment to delete.
          example: aa1dc1d9-93ac-4c6c-987e-16b6eea9aab2
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_comments__comment_id__delete_404_response'
          description: Not Found
      security:
      - oauth2:
        - comment:read-write
      summary: Delete a comment
      tags:
      - Comments
    get:
      description: |-
        Get a single comment by ID.

        To view comments on records, you will need the `object_configuration:read` and `record_permission:read` scopes.

        To view comments on list entries, you will need the `list_configuration:read` and `list_entry:read` scopes.

        Required scopes: `comment:read`.
      parameters:
      - explode: false
        in: path
        name: comment_id
        required: true
        schema:
          description: A UUID which identifies the comment.
          example: aa1dc1d9-93ac-4c6c-987e-16b6eea9aab2
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_comments_post_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_comments__comment_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - comment:read
      summary: Get a comment
      tags:
      - Comments
  /v2/webhooks:
    get:
      description: |-
        Get all of the webhooks in your workspace.

        Required scopes: `webhook:read`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return, between 10 and 100,\
            \ defaults to 10. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning, defaults\
            \ to 0. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks_get_200_response'
          description: Success
      security:
      - oauth2:
        - webhook:read
      summary: List webhooks
      tags:
      - Webhooks
    post:
      description: |-
        Create a webhook and associated subscriptions.

        Required scopes: `webhook:read-write`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_webhooks_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks_post_400_response'
          description: Bad Request
      security:
      - oauth2:
        - webhook:read-write
      summary: Create a webhook
      tags:
      - Webhooks
  /v2/webhooks/{webhook_id}:
    delete:
      description: |-
        Delete a webhook by ID.

        Required scopes: `webhook:read-write`.
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          description: A UUID identifying the webhook to delete.
          example: 23e42eaf-323a-41da-b5bb-fd67eebda553
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks__webhook_id__delete_404_response'
          description: Not Found
      security:
      - oauth2:
        - webhook:read-write
      summary: Delete a webhook
      tags:
      - Webhooks
    get:
      description: |-
        Get a single webhook.

        Required scopes: `webhook:read`.
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          description: A UUID which identifies the webhook.
          example: 23e42eaf-323a-41da-b5bb-fd67eebda553
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks__webhook_id__get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks__webhook_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - webhook:read
      summary: Get a webhook
      tags:
      - Webhooks
    patch:
      description: |-
        Update a webhook and associated subscriptions.

        Required scopes: `webhook:read-write`.
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          description: A UUID which identifies the webhook.
          example: 23e42eaf-323a-41da-b5bb-fd67eebda553
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_webhooks__webhook_id__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks__webhook_id__get_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_webhooks__webhook_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - webhook:read-write
      summary: Update a webhook
      tags:
      - Webhooks
  /v2/self:
    get:
      description: "Identify the current access token, the workspace it is linked\
        \ to, and any permissions it has."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_self_get_200_response'
          description: Success
      summary: Identify
      tags:
      - Meta
components:
  parameters: {}
  schemas:
    status:
      example:
        target_time_in_status: P0Y0M1DT0H0M0S
        is_archived: false
        celebration_enabled: false
        id:
          workspace_id: 14beef7a-99f7-4534-a87e-70b564330a4c
          status_id: 11f07f01-c10f-4e05-a522-33e050bc52ee
          attribute_id: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          object_id: 97052eb9-e65e-443f-a297-f2d9a4a7f795
        title: In Progress
      properties:
        id:
          $ref: '#/components/schemas/status_id'
        title:
          description: The title of the status
          example: In Progress
          type: string
        is_archived:
          description: "Whether or not to archive the status. See our [archiving guide](/docs/archiving-vs-deleting)\
            \ for more information on archiving."
          example: false
          type: boolean
        celebration_enabled:
          description: Whether arriving at this status triggers a celebration effect
            in the UI
          example: false
          type: boolean
        target_time_in_status:
          description: Target time for a record to spend in given status expressed
            as a ISO-8601 duration string
          example: P0Y0M1DT0H0M0S
          nullable: true
          type: string
      required:
      - celebration_enabled
      - id
      - is_archived
      - target_time_in_status
      - title
    select-option:
      example:
        is_archived: false
        id:
          workspace_id: 14beef7a-99f7-4534-a87e-70b564330a4c
          attribute_id: 41252299-f8c7-4b5e-99c9-4ff8321d2f96
          option_id: 08c2c59a-c18e-40c6-8dc4-95415313b2ea
          object_id: 97052eb9-e65e-443f-a297-f2d9a4a7f795
        title: Medium
      properties:
        id:
          $ref: '#/components/schemas/select_option_id'
        title:
          description: The title of the select option
          example: Medium
          type: string
        is_archived:
          description: "Whether or not to archive the select option. See our [archiving\
            \ guide](/docs/archiving-vs-deleting) for more information on archiving."
          example: false
          type: boolean
      required:
      - id
      - is_archived
      - title
    input-value:
      anyOf:
      - $ref: '#/components/schemas/input_value_anyOf'
      - $ref: '#/components/schemas/input_value_anyOf_1'
      - $ref: '#/components/schemas/input_value_anyOf_2'
      - $ref: '#/components/schemas/input_value_anyOf_3'
      - $ref: '#/components/schemas/input_value_anyOf_4'
      - $ref: '#/components/schemas/_v2_tasks_post_request_data_linked_records_inner_anyOf_1__slug_or_id_of_matching_attribute__inner_anyOf'
      - $ref: '#/components/schemas/_v2_tasks_post_request_data_linked_records_inner_anyOf_1__slug_or_id_of_matching_attribute__inner_anyOf_1'
      - $ref: '#/components/schemas/input_value_anyOf_5'
      - $ref: '#/components/schemas/_v2_tasks_post_request_data_linked_records_inner_anyOf_1'
      - $ref: '#/components/schemas/input_value_anyOf_6'
      - $ref: '#/components/schemas/input_value_anyOf_7'
      - $ref: '#/components/schemas/input_value_anyOf_8'
      - $ref: '#/components/schemas/input_value_anyOf_9'
      - $ref: '#/components/schemas/input_value_anyOf_10'
      - $ref: '#/components/schemas/input_value_anyOf_11'
      - $ref: '#/components/schemas/input_value_anyOf_12'
      - $ref: '#/components/schemas/input_value_anyOf_13'
      - $ref: '#/components/schemas/input_value_anyOf_14'
      - $ref: '#/components/schemas/input_value_anyOf_15'
      description: "A union of possible value types, as required in request bodies."
    output-value:
      anyOf:
      - $ref: '#/components/schemas/output_value_anyOf'
      - $ref: '#/components/schemas/output_value_anyOf_1'
      - $ref: '#/components/schemas/output_value_anyOf_2'
      - $ref: '#/components/schemas/output_value_anyOf_3'
      - $ref: '#/components/schemas/output_value_anyOf_4'
      - $ref: '#/components/schemas/output_value_anyOf_5'
      - $ref: '#/components/schemas/output_value_anyOf_6'
[...]
