openapi: 3.1.0
info:
  title: Attio Standard Objects
  version: 2.0.0
servers:
- description: Production
  url: https://api.attio.com
security:
- oauth2: []
paths:
  /v2/objects/people/records/query:
    post:
      description: |-
        Lists person records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_people_records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: 'List person records '
      tags:
      - People
  /v2/objects/people/records:
    post:
      description: |-
        Creates a new person Record. This endpoint will throw on conflicts of unique attributes, like `email_addresses`. If you would prefer to update person records on conflicts, please use the Assert person record endpoint instead. Please note, the `avatar_url` attribute cannot currently be set via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_people_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a person Record
      tags:
      - People
    put:
      description: |-
        Use this endpoint to create or update person records, using a unique attribute to search for existing People (for example the `email_addresses` attribute). If a person is found with the same value for the matching attribute, that person will be updated. If no person with the same value for the matching attribute is found, a new person will be created instead. If you would like to avoid matching, please use the Create person endpoint.


        If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: "The ID or slug of the attribute to use to check if a person\
            \ already exists. The attribute must be unique. For person records `email_addresses`\
            \ is the only unique attribute, but you can add additional custom attributes\
            \ with unique constraints."
          example: email_addresses
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_people_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a person Record
      tags:
      - People
  /v2/objects/people/records/{record_id}:
    delete:
      description: |-
        Deletes a single person record by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the person record to delete.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a person Record
      tags:
      - People
    get:
      description: |-
        Gets a single person record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the person record to fetch.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a person Record
      tags:
      - People
    patch:
      description: |-
        Use this endpoint to update person records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert person endpoint](/reference/put_v2-objects-people-records) to overwrite or remove multiselect attribute values. Please note, the `avatar_url` attribute cannot currently be updated via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the person record to update.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_people_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a person Record
      tags:
      - People
  /v2/objects/people/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a person Record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the person record to fetch attribute values for.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: name
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List person record attribute values
      tags:
      - People
  /v2/objects/people/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this person record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the person record to fetch entries for.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List person record entries
      tags:
      - People
  /v2/objects/companies/records/query:
    post:
      description: |-
        Lists company records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_companies_records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List company records
      tags:
      - Companies
  /v2/objects/companies/records:
    post:
      description: |-
        Creates a new company record. This endpoint will throw on conflicts of unique attributes, like `domains`. If you would prefer to update company records on conflicts, please use the Assert company record endpoint instead. Please note, the `logo_url` attribute cannot currently be set via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_companies_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a company record
      tags:
      - Companies
    put:
      description: |-
        Use this endpoint to create or update company records, using a unique attribute to search for existing companies (for example, the `domains` attribute). If a company is found with the same value for the matching attribute, that company will be updated. If no company with the same value for the matching attribute is found, a new company will be created instead. If you would like to avoid matching, please use the Create company endpoint.


        If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: "The ID or slug of the attribute to use to check if a company\
            \ already exists. The attribute must be unique. For company records, `domains`\
            \ is the only unique attribute, but you can add additional custom attributes\
            \ with unique constraints."
          example: domains
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_companies_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a company record
      tags:
      - Companies
  /v2/objects/companies/records/{record_id}:
    delete:
      description: |-
        Deletes a single company record by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the company record to delete.
          example: 99a03ff3-0435-47da-95cc-76b2caeb4dab
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a company record
      tags:
      - Companies
    get:
      description: |-
        Gets a single company record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the company record to fetch.
          example: 99a03ff3-0435-47da-95cc-76b2caeb4dab
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a company record
      tags:
      - Companies
    patch:
      description: |-
        Use this endpoint to update company records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert company endpoint](/reference/put_v2-objects-companies-records) to overwrite or remove multiselect attribute values. Please note, the `logo_url` attribute cannot currently be updated via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the company record to update.
          example: 99a03ff3-0435-47da-95cc-76b2caeb4dab
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_companies_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a company record
      tags:
      - Companies
  /v2/objects/companies/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a company record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the company record to fetch attribute values for.
          example: 99a03ff3-0435-47da-95cc-76b2caeb4dab
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: domains
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List company record attribute values
      tags:
      - Companies
  /v2/objects/companies/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this company record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the company record to fetch entries for.
          example: 99a03ff3-0435-47da-95cc-76b2caeb4dab
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_companies_records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List company record entries
      tags:
      - Companies
  /v2/objects/users/records/query:
    post:
      description: |-
        Lists user records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_users_records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List user records
      tags:
      - Users
  /v2/objects/users/records:
    post:
      description: |-
        Creates a new user record. This endpoint will throw on conflicts of unique attributes, like `primary_email_address`. If you would prefer to update user records on conflicts, please use the Assert user record endpoint instead. Please note, the `avatar_url` attribute cannot currently be set via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_users_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a user record
      tags:
      - Users
    put:
      description: |-
        Use this endpoint to create or update user records, using a unique attribute to search for existing users (for example the `primary_email_address` attribute). If a user is found with the same value for the matching attribute, that user will be updated, otherwise a new user will be created instead. If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: "The ID or slug of the attribute to use to check if a user\
            \ already exists. The attribute must be unique. For user records, you\
            \ can use `primary_email_address` or `user_id`, or any additional custom\
            \ attribute with a unique constraint."
          example: primary_email_address
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_users_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a user record
      tags:
      - Users
  /v2/objects/users/records/{record_id}:
    delete:
      description: |-
        Deletes a single user record by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the user record to delete.
          example: 5e3fb280-007b-495a-a530-9354bde01de1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a user record
      tags:
      - Users
    get:
      description: |-
        Gets a single user record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the user record to fetch.
          example: 5e3fb280-007b-495a-a530-9354bde01de1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a user record
      tags:
      - Users
    patch:
      description: |-
        Use this endpoint to update user records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert user endpoint](/reference/put_v2-objects-users-records) to overwrite or remove multiselect attribute values. Please note, the `avatar_url` attribute cannot currently be updated via the API.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the user record to update.
          example: 5e3fb280-007b-495a-a530-9354bde01de1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_users_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a user Record
      tags:
      - Users
  /v2/objects/users/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a user record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the user record to fetch attribute values for.
          example: 5e3fb280-007b-495a-a530-9354bde01de1
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: primary_email_address
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List user record attribute values
      tags:
      - Users
  /v2/objects/users/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this user record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the user record to fetch entries for.
          example: 5e3fb280-007b-495a-a530-9354bde01de1
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List user record entries
      tags:
      - Users
  /v2/objects/deals/records:
    post:
      description: |-
        Creates a new deal record. This endpoint will throw on conflicts of unique attributes, if defined. If you would prefer to update deal records on conflicts, please use the Assert deal record endpoint instead.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_deals_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_deals_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a deal record
      tags:
      - Deals
    put:
      description: |-
        Use this endpoint to create or update deal records, using a unique attribute to search for existing deals. By default, deals do not have a unique attribute, so you should add your own attribute with a unique constraint to use this API. If a deal is found with the same value for the matching attribute, that deal will be updated, otherwise a new deal will be created instead. If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: "The ID or slug of the attribute to use to check if a deal\
            \ already exists. The attribute must be unique. There is no unique attribute\
            \ on deals by default, so you should add your own."
          example: custom_deal_attribute
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_deals_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_deals_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a deal record
      tags:
      - Deals
  /v2/objects/deals/records/{record_id}:
    delete:
      description: |-
        Deletes a single deal record by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the deal record to delete.
          example: 1eec4535-30a1-4bc0-be24-e255d3fb5ac5
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a deal record
      tags:
      - Deals
    get:
      description: |-
        Gets a single deal record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the deal record to fetch.
          example: 1eec4535-30a1-4bc0-be24-e255d3fb5ac5
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_deals_records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a deal record
      tags:
      - Deals
    patch:
      description: |-
        Use this endpoint to update deal records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert deal endpoint](/reference/put_v2-objects-deals-records) to overwrite or remove multiselect attribute values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the deal record to update.
          example: 1eec4535-30a1-4bc0-be24-e255d3fb5ac5
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_deals_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_deals_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a deal record
      tags:
      - Deals
  /v2/objects/deals/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a deal record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the deal record to fetch attribute values for.
          example: 1eec4535-30a1-4bc0-be24-e255d3fb5ac5
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: owner
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_users_records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List deal record attribute values
      tags:
      - Deals
  /v2/objects/deals/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this deal record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the deal record to fetch entries for.
          example: 1eec4535-30a1-4bc0-be24-e255d3fb5ac5
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List deal record entries
      tags:
      - Deals
  /v2/objects/deals/records/query:
    post:
      description: |-
        Lists deal records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_deals_records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_deals_records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List deal records
      tags:
      - Deals
  /v2/objects/workspaces/records:
    post:
      description: |-
        Creates a new workspace record. This endpoint will throw on conflicts of unique attributes, like `workspace_id`. If you would prefer to update workspace records on conflicts, please use the Assert workspace record endpoint instead.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_workspaces_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Create a workspace record
      tags:
      - Workspaces
    put:
      description: |-
        Use this endpoint to create or update workspace records, using a unique attribute to search for existing workspaces (for example the `workspace_id` attribute). If a workspace is found with the same value for the matching attribute, that workspace will be updated, otherwise a new workspace will be created instead. If the matching attribute is a multiselect attribute, new values will be added and existing values will not be deleted. For any other multiselect attribute, all values will be either created or deleted as necessary to match the list of supplied values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: true
        in: query
        name: matching_attribute
        required: true
        schema:
          description: "The ID or slug of the attribute to use to check if a workspace\
            \ already exists. The attribute must be unique. For workspace records,\
            \ you can use `workspace_id`  or any additional custom attribute with\
            \ a unique constraint."
          example: workspace_id
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_workspaces_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Assert a workspace record
      tags:
      - Workspaces
  /v2/objects/workspaces/records/{record_id}:
    delete:
      description: |-
        Deletes a single workspace record by ID.

        Required scopes: `object_configuration:read`, `record_permission:read-write`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: The UUID of the workspace record to delete.
          example: 72ef5feaf-4919-4208-b332-1339ab8ba040
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Success
                properties: {}
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - object_configuration:read
        - record_permission:read-write
      summary: Delete a workspace record
      tags:
      - Workspaces
    get:
      description: |-
        Gets a single workspace record by its `record_id`.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the workspace record to fetch.
          example: 72ef5feaf-4919-4208-b332-1339ab8ba040
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records_put_200_response'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: Get a workspace record
      tags:
      - Workspaces
    patch:
      description: |-
        Use this endpoint to update workspace records by `record_id`. If the update payload includes multiselect attributes, the values supplied will be created and prepended to the list of values that already exist (if any). Use the [Assert workspace endpoint](/reference/put_v2-objects-workspaces-records) to overwrite or remove multiselect attribute values.

        Required scopes: `record_permission:read-write`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the workspace record to update.
          example: 72ef5feaf-4919-4208-b332-1339ab8ba040
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_workspaces_records_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records_put_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__patch_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_put_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read-write
        - object_configuration:read
      summary: Update a workspace Record
      tags:
      - Workspaces
  /v2/objects/workspaces/records/{record_id}/attributes/{attribute}/values:
    get:
      description: |-
        Gets all values for a given attribute on a workspace record. If the attribute is historic, this endpoint has the ability to return all historic values using the `show_historic` query param.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the workspace record to fetch attribute values for.
          example: 72ef5feaf-4919-4208-b332-1339ab8ba040
          type: string
        style: simple
      - explode: false
        in: path
        name: attribute
        required: true
        schema:
          description: A UUID or slug to identify the attribute you want to query
            values on.
          example: workspace_id
          type: string
        style: simple
      - explode: true
        in: query
        name: show_historic
        required: false
        schema:
          default: false
          description: "If `true`, the endpoint will return all historic values for\
            \ the attribute. If `false`, the endpoint will only return the currently\
            \ active value(s). Defaults to `false`. Can only be set to `true` for\
            \ attributes which support historic data; the endpoint will throw if set\
            \ to `true` for non-historic attributes."
          example: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. See the [full guide\
            \ to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. See the\
            \ [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records__record_id__attributes__attribute__values_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__attributes__attribute__values_get_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List workspace record attribute values
      tags:
      - Workspaces
  /v2/objects/workspaces/records/{record_id}/entries:
    get:
      description: |-
        List all entries, across all lists, for which this workspace record is the parent.

        Required scopes: `record_permission:read`, `object_configuration:read`, `list_entry:read`.
      parameters:
      - explode: false
        in: path
        name: record_id
        required: true
        schema:
          description: A UUID of the workspace record to fetch entries for.
          example: 72ef5feaf-4919-4208-b332-1339ab8ba040
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: "The maximum number of results to return. The default is `100`\
            \ and the maximum is `1000`. See the [full guide to pagination here](/docs/pagination)."
          example: 10
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: "The number of results to skip over before returning. The default\
            \ is `0`. See the [full guide to pagination here](/docs/pagination)."
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records__record_id__entries_get_200_response'
          description: Success
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
        - list_entry:read
      summary: List workspace record entries
      tags:
      - Workspaces
  /v2/objects/workspaces/records/query:
    post:
      description: |-
        Lists workspace records, with the option to filter and sort results.

        Required scopes: `record_permission:read`, `object_configuration:read`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_v2_objects_workspaces_records_query_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_workspaces_records_query_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v2_objects_people_records_query_post_404_response'
          description: Not Found
      security:
      - oauth2:
        - record_permission:read
        - object_configuration:read
      summary: List workspace records
      tags:
      - Workspaces
components:
  parameters: {}
  schemas:
    status:
      properties:
        id:
          $ref: '#/components/schemas/status_id'
        title:
          description: The title of the status
          example: In Progress
          type: string
        is_archived:
          description: "Whether or not to archive the status. See our [archiving guide](/docs/archiving-vs-deleting)\
            \ for more information on archiving."
          example: false
          type: boolean
        celebration_enabled:
          description: Whether arriving at this status triggers a celebration effect
            in the UI
          example: false
          type: boolean
        target_time_in_status:
          description: Target time for a record to spend in given status expressed
            as a ISO-8601 duration string
          example: P0Y0M1DT0H0M0S
          nullable: true
          type: string
      required:
      - celebration_enabled
      - id
      - is_archived
      - target_time_in_status
      - title
    select-option:
      properties:
        id:
          $ref: '#/components/schemas/select_option_id'
        title:
          description: The title of the select option
          example: Medium
          type: string
        is_archived:
          description: "Whether or not to archive the select option. See our [archiving\
            \ guide](/docs/archiving-vs-deleting) for more information on archiving."
          example: false
          type: boolean
      required:
      - id
      - is_archived
      - title
    _v2_objects_people_records_query_post_request_sorts_inner_anyOf:
      description: Sort by attribute
      properties:
        direction:
          description: The direction to sort the results by.
          enum:
          - asc
          - desc
          type: string
        attribute:
          description: A slug or ID to identify the attribute to sort by.
          type: string
        field:
          description: Which field on the value to sort by e.g. "last_name" on a name
            value.
          type: string
      required:
      - attribute
      - direction
    _v2_objects_people_records_query_post_request_sorts_inner_anyOf_1_path_inner_inner:
      anyOf:
      - description: The slug or ID of the object e.g. "people".
        type: string
      - description: A slug or ID to identify the attribute to sort by.
        type: string
    _v2_objects_people_records_query_post_request_sorts_inner_anyOf_1:
      description: Sort by path
      properties:
        direction:
          description: The direction to sort the results by.
          enum:
          - asc
          - desc
          type: string
        path:
          description: "You may use the `path` property to traverse record reference\
            \ attributes and parent records on list entries. `path` accepts an array\
            \ of tuples where the first element of each tuple is the slug or ID of\
            \ a list/object, and the second element is the slug or ID of an attribute\
            \ on that list/object. The first element of the first tuple must correspond\
            \ to the list or object that you are querying. For example, if you wanted\
            \ to sort by the name of the parent record (a company) on a list with\
            \ the slug \"sales\", you would pass the value `[['sales', 'parent_record'],\
            \ ['companies', 'name']]`."
          items:
            items:
              $ref: '#/components/schemas/_v2_objects_people_records_query_post_request_sorts_inner_anyOf_1_path_inner_inner'
            maxItems: 2
            minItems: 2
            type: array
          type: array
        field:
          description: Which field on the value to sort by e.g. "last_name" on a name
            value.
          type: string
      required:
      - direction
      - path
    _v2_objects_people_records_query_post_request_sorts_inner:
      anyOf:
      - $ref: '#/components/schemas/_v2_objects_people_records_query_post_request_sorts_inner_anyOf'
      - $ref: '#/components/schemas/_v2_objects_people_records_query_post_request_sorts_inner_anyOf_1'
    _v2_objects_people_records_query_post_request:
      properties:
        filter:
          additionalProperties: {}
          description: "An object used to filter results to a subset of records. See\
            \ the [full guide to filtering and sorting here](/docs/filtering-and-sorting)."
          example:
            $and:
            - name:
                first_name:
                  $eq: John
                last_name:
                  $eq: Smith
            - description:
                value:
                  $contains: event
        sorts:
          description: "An object used to sort results. See the [full guide to filtering\
            \ and sorting here](/docs/filtering-and-sorting)."
          example:
          - direction: asc
            attribute: name
            field: last_name
          items:
            $ref: '#/components/schemas/_v2_objects_people_records_query_post_request_sorts_inner'
          type: array
        limit:
          description: "The maximum number of results to return. Defaults to 500.\
            \ See the [full guide to pagination here](/docs/pagination)."
          example: 500
          type: number
        offset:
          description: "The number of results to skip over before returning. Defaults\
            \ to 0. See the [full guide to pagination here](/docs/pagination)."
          example: 0
          type: number
    _v2_objects_people_records_query_post_200_response_data_inner_id:
      example:
        workspace_id: 14beef7a-99f7-4534-a87e-70b564330a4c
        record_id: bf071e1f-6035-429d-b874-d83ea64ea13b
        object_id: 97052eb9-e65e-443f-a297-f2d9a4a7f795
      properties:
        workspace_id:
          description: A UUID identifying the workspace this record belongs to.
          example: 14beef7a-99f7-4534-a87e-70b564330a4c
          format: uuid
          type: string
        object_id:
          description: A UUID identifying the object this record belongs to.
          example: 97052eb9-e65e-443f-a297-f2d9a4a7f795
          format: uuid
          type: string
        record_id:
          description: A UUID identifying this record.
          example: bf071e1f-6035-429d-b874-d83ea64ea13b
          format: uuid
          type: string
      required:
      - object_id
      - record_id
      - workspace_id
    _v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor:
      description: The actor that created this value.
      example:
        type: workspace-member
        id: 50cf242c-7fa3-4cad-87d0-75b1af71c57b
      properties:
        id:
          description: An ID to identify the actor.
          type: string
          nullable: true
        type:
          description: "The type of actor. [Read more information on actor types here](/docs/actors)."
          enum:
          - api-token
          - workspace-member
          - system
          type: string
          nullable: true
    _v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner:
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        original_email_address:
          example: alice@app.attio.com
          type: string
        email_address:
          example: alice@app.attio.com
          type: string
        email_domain:
          example: app.attio.com
          type: string
        email_root_domain:
          example: attio.com
          type: string
        email_local_specifier:
          example: alice
          type: string
        attribute_type:
          description: The attribute type of the value.
          enum:
          - email-address
          example: email-address
          type: string
      required:
      - active_from
      - active_until
      - attribute_type
      - created_by_actor
      - email_address
      - email_domain
      - email_local_specifier
      - email_root_domain
      - original_email_address
    _v2_objects_people_records_query_post_200_response_data_inner_values_name_inner:
      additionalProperties: {}
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        first_name:
          description: The first name.
          example: Ada
        last_name:
          description: The last name.
          example: Lovelace
        full_name:
          description: The full name.
          example: Ada Lovelace
        attribute_type:
          description: The attribute type of the value.
          enum:
          - personal-name
          example: personal-name
      required:
      - active_from
      - active_until
      - attribute_type
      - created_by_actor
      - first_name
      - full_name
      - last_name
    _v2_objects_people_records_query_post_200_response_data_inner_values_description_inner:
      additionalProperties: {}
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        value:
          description: A raw text field. Values are limited to 10MB.
          example: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do\
            \ eiusmod tempor incididunt ut labore et dolore magna aliqua."
        attribute_type:
          description: The attribute type of the value.
          enum:
          - text
          example: text
      required:
      - active_from
      - active_until
      - attribute_type
      - created_by_actor
      - value
    _v2_objects_people_records_query_post_200_response_data_inner_values_phone_numbers_inner:
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        original_phone_number:
          description: "The raw, original phone number, as inputted."
          example: "5558675309"
          type: string
        country_code:
          description: The ISO 3166-1 alpha-2 country code representing the country
            that this phone number belongs to.
          enum:
          - AF
          - AX
          - AL
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - KH
          - CM
          - CA
          - CV
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MK
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - AN
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - "NO"
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - RE
          - RO
          - RU
          - RW
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SZ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - US
          - UM
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - YE
          - ZM
          - ZW
          example: US
          type: string
        phone_number:
          example: "+15558675309"
          type: string
        attribute_type:
          description: The attribute type of the value.
          enum:
          - phone-number
          example: phone-number
          type: string
      required:
      - active_from
      - active_until
      - attribute_type
      - country_code
      - created_by_actor
      - original_phone_number
      - phone_number
    _v2_objects_people_records_query_post_200_response_data_inner_values_primary_location_inner:
      additionalProperties: {}
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        line_1:
          description: The first line of the address. Note that this value is not
            currently represented in the UI but will be persisted and readable through
            API calls.
          example: 1 Infinite Loop
        line_2:
          description: The second line of the address. Note that this value is not
            currently represented in the UI but will be persisted and readable through
            API calls.
          example: Block 1
        line_3:
          description: The third line of the address. Note that this value is not
            currently represented in the UI but will be persisted and readable through
            API calls.
          example: Hilldrop Estate
        line_4:
          description: The fourth line of the address. Note that this value is not
            currently represented in the UI but will be persisted and readable through
            API calls.
          example: Westborough
        locality:
          description: "The town, neighborhood or area the location is in."
          example: Cupertino
        region:
          description: "The state, county, province or region that the location is\
            \ in."
          example: CA
        postcode:
          description: "The postcode or zip code for the location. Note that this\
            \ value is not currently represented in the UI but will be persisted and\
            \ readable through API calls.}"
          example: "95014"
        country_code:
          description: The ISO 3166-1 alpha-2 country code for the country this location
            is in.
          enum:
          - AF
          - AX
          - AL
          - DZ
          - AS
          - AD
          - AO
          - AI
          - AQ
          - AG
          - AR
          - AM
          - AW
          - AU
          - AT
          - AZ
          - BS
          - BH
          - BD
          - BB
          - BY
          - BE
          - BZ
          - BJ
          - BM
          - BT
          - BO
          - BA
          - BW
          - BV
          - BR
          - IO
          - BN
          - BG
          - BF
          - BI
          - KH
          - CM
          - CA
          - CV
          - KY
          - CF
          - TD
          - CL
          - CN
          - CX
          - CC
          - CO
          - KM
          - CG
          - CD
          - CK
          - CR
          - CI
          - HR
          - CU
          - CW
          - CY
          - CZ
          - DK
          - DJ
          - DM
          - DO
          - EC
          - EG
          - SV
          - GQ
          - ER
          - EE
          - ET
          - FK
          - FO
          - FJ
          - FI
          - FR
          - GF
          - PF
          - TF
          - GA
          - GM
          - GE
          - DE
          - GH
          - GI
          - GR
          - GL
          - GD
          - GP
          - GU
          - GT
          - GG
          - GN
          - GW
          - GY
          - HT
          - HM
          - VA
          - HN
          - HK
          - HU
          - IS
          - IN
          - ID
          - IR
          - IQ
          - IE
          - IM
          - IL
          - IT
          - JM
          - JP
          - JE
          - JO
          - KZ
          - KE
          - KI
          - KR
          - KW
          - KG
          - LA
          - LV
          - LB
          - LS
          - LR
          - LY
          - LI
          - LT
          - LU
          - MO
          - MK
          - MG
          - MW
          - MY
          - MV
          - ML
          - MT
          - MH
          - MQ
          - MR
          - MU
          - YT
          - MX
          - FM
          - MD
          - MC
          - MN
          - ME
          - MS
          - MA
          - MZ
          - MM
          - NA
          - NR
          - NP
          - NL
          - AN
          - NC
          - NZ
          - NI
          - NE
          - NG
          - NU
          - NF
          - MP
          - "NO"
          - OM
          - PK
          - PW
          - PS
          - PA
          - PG
          - PY
          - PE
          - PH
          - PN
          - PL
          - PT
          - PR
          - QA
          - RE
          - RO
          - RU
          - RW
          - BL
          - SH
          - KN
          - LC
          - MF
          - PM
          - VC
          - WS
          - SM
          - ST
          - SA
          - SN
          - RS
          - SC
          - SL
          - SG
          - SK
          - SI
          - SB
          - SO
          - ZA
          - GS
          - ES
          - LK
          - SD
          - SR
          - SJ
          - SZ
          - SE
          - CH
          - SY
          - TW
          - TJ
          - TZ
          - TH
          - TL
          - TG
          - TK
          - TO
          - TT
          - TN
          - TR
          - TM
          - TC
          - TV
          - UG
          - UA
          - AE
          - GB
          - US
          - UM
          - UY
          - UZ
          - VU
          - VE
          - VN
          - VG
          - VI
          - WF
          - EH
          - YE
          - ZM
          - ZW
          example: US
        latitude:
          description: "The latitude of the location. Validated by the regular expression\
            \ `/^[-+]?([1-8]?\\d(\\.\\d+)?|90(\\.0+)?)$/`. Note that this value is\
            \ not currently represented in the UI but will be persisted and readable\
            \ through API calls.}"
          example: "37.331741"
          pattern: "^[-+]?([1-8]?\\d(\\.\\d+)?|90(\\.0+)?)$"
        longitude:
          description: "The longitude of the location. Validated by the regular expression\
            \ `/^[-+]?(180(\\.0+)?|((1[0-7]\\d)|([1-9]?\\d))(\\.\\d+)?)$/`"
          example: "-122.030333"
          pattern: "^[-+]?(180(\\.0+)?|((1[0-7]\\d)|([1-9]?\\d))(\\.\\d+)?)$"
        attribute_type:
          description: The attribute type of the value.
          enum:
          - location
          example: location
      required:
      - active_from
      - active_until
      - attribute_type
      - country_code
      - created_by_actor
      - latitude
      - line_1
      - line_2
      - line_3
      - line_4
      - locality
      - longitude
      - postcode
      - region
    _v2_objects_people_records_query_post_200_response_data_inner_values_twitter_follower_count_inner:
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        value:
          description: Numbers are persisted as 64 bit floats.
          example: 42
          type: number
        attribute_type:
          description: The attribute type of the value.
          enum:
          - number
          example: number
          type: string
      required:
      - active_from
      - active_until
      - attribute_type
      - created_by_actor
      - value
    _v2_objects_people_records_query_post_200_response_data_inner_values_company_inner:
      additionalProperties: {}
      properties:
        active_from:
          description: The point in time at which this value was made "active". `active_from`
            can be considered roughly analogous to `created_at`.
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          type: string
        active_until:
          description: "The point in time at which this value was deactivated. If\
            \ `null`, the value is active."
          example: 2023-01-01T15:00:00.000000000Z
          format: date-time
          nullable: true
          type: string
        created_by_actor:
          $ref: '#/components/schemas/_v2_objects_people_records_query_post_200_response_data_inner_values_email_addresses_inner_created_by_actor'
        target_object:
          description: A slug identifying the object that the referenced record belongs
            to.
          example: people
        target_record_id:
          description: A UUID to identify the referenced record.
          example: 891dcbfc-9141-415d-9b2a-2238a6cc012d
          format: uuid
        attribute_type:
          description: The attribute type of the value.
          enum:
          - record-reference
          example: record-reference
      required:
      - active_from
      - active_until
      - attribute_type
      - created_by_actor
      - target_object
      - target_record_id
    _v2_objects_people_records_query_post_200_response_data_inner_values:
      description: "An object with `attribute_slug` keys, and an array of value objects\
        \ as the values. Attributes slugs (for example `email_addresses` or `name`)\
        \ can be used, including custom attribute slugs."
      example:
        strongest_connection_strength_legacy:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          value: 54.725113205693695
          attribute_type: number
        last_interaction:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          interaction_type: email
          interacted_at: 2023-01-01T15:00:00.000000000Z
          owner_actor:
            type: workspace-member
            id: a976f6a9-fc2b-4acb-91e7-afb2d18b4e64
          attribute_type: interaction
        twitter:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          value: https://x.com/johnsmith
          attribute_type: text
        avatar_url:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          value: https://d1ts43dypk8bqh.cloudfront.net/v1/avatars/b792e7f9-003d-494f-a7b4-a53251c621e6
          attribute_type: text
        job_title:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          value: Software Engineer
          attribute_type: text
        next_calendar_interaction:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          interaction_type: email
          interacted_at: 2023-01-01T15:00:00.000000000Z
          owner_actor:
            type: workspace-member
            id: a976f6a9-fc2b-4acb-91e7-afb2d18b4e64
          attribute_type: interaction
        company:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          target_object: companies
          target_record_id: f528bd86-8142-4359-9a8c-b651d50a27b1
          attribute_type: record-reference
        primary_location:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          line_1: 1 Infinite Loop
          line_2: null
          line_3: null
          line_4: null
          locality: Cupertino
          region: CA
          postcode: "95014"
          country_code: US
          latitude: "37.331741"
          longitude: "-122.030333"
          attribute_type: location
        angellist:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          value: https://angellist.com/johnsmith
          attribute_type: text
        description:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: workspace-member
            id: a976f6a9-fc2b-4acb-91e7-afb2d18b4e64
          value: Developer met at event
          attribute_type: text
        strongest_connection_user:
        - active_from: 2023-01-01T15:00:00.000000000Z
          active_until: null
          created_by_actor:
            type: system
            id: null
          referenced_actor_type: workspace-member
[...]
