/*
Attio API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
Contact: support@attio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TranscriptsAPIService TranscriptsAPI service
type TranscriptsAPIService service

type ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest struct {
	ctx context.Context
	ApiService *TranscriptsAPIService
	meetingId string
	callRecordingId string
	cursor *string
}

func (r ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest) Cursor(cursor string) ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest) Execute() (*V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet200Response, *http.Response, error) {
	return r.ApiService.V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetExecute(r)
}

/*
V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet Get call transcript

Get the transcript for a call recording.

This endpoint is in beta. We will aim to avoid breaking changes, but small updates may be made as we roll out to more users.

Required scopes: `meeting:read`, `call_recording:read`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param meetingId
 @param callRecordingId
 @return ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest
*/
func (a *TranscriptsAPIService) V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet(ctx context.Context, meetingId string, callRecordingId string) ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest {
	return ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest{
		ApiService: a,
		ctx: ctx,
		meetingId: meetingId,
		callRecordingId: callRecordingId,
	}
}

// Execute executes the request
//  @return V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet200Response
func (a *TranscriptsAPIService) V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetExecute(r ApiV2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGetRequest) (*V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TranscriptsAPIService.V2MeetingsMeetingIdCallRecordingsCallRecordingIdTranscriptGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/meetings/{meeting_id}/call_recordings/{call_recording_id}/transcript"
	localVarPath = strings.Replace(localVarPath, "{"+"meeting_id"+"}", url.PathEscape(parameterValueToString(r.meetingId, "meetingId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"call_recording_id"+"}", url.PathEscape(parameterValueToString(r.callRecordingId, "callRecordingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
