/*
Attio API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
Contact: support@attio.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// EmailsAPIService EmailsAPI service
type EmailsAPIService service

type ApiV2EmailsGetRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	limit *int32
	cursor *string
	linkedObject *string
	linkedRecordIds *string
	participants *string
	domain *string
	sentAfter *string
	sentBefore *string
}

func (r ApiV2EmailsGetRequest) Limit(limit int32) ApiV2EmailsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiV2EmailsGetRequest) Cursor(cursor string) ApiV2EmailsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiV2EmailsGetRequest) LinkedObject(linkedObject string) ApiV2EmailsGetRequest {
	r.linkedObject = &linkedObject
	return r
}

func (r ApiV2EmailsGetRequest) LinkedRecordIds(linkedRecordIds string) ApiV2EmailsGetRequest {
	r.linkedRecordIds = &linkedRecordIds
	return r
}

func (r ApiV2EmailsGetRequest) Participants(participants string) ApiV2EmailsGetRequest {
	r.participants = &participants
	return r
}

func (r ApiV2EmailsGetRequest) Domain(domain string) ApiV2EmailsGetRequest {
	r.domain = &domain
	return r
}

func (r ApiV2EmailsGetRequest) SentAfter(sentAfter string) ApiV2EmailsGetRequest {
	r.sentAfter = &sentAfter
	return r
}

func (r ApiV2EmailsGetRequest) SentBefore(sentBefore string) ApiV2EmailsGetRequest {
	r.sentBefore = &sentBefore
	return r
}

func (r ApiV2EmailsGetRequest) Execute() (*V2EmailsGet200Response, *http.Response, error) {
	return r.ApiService.V2EmailsGetExecute(r)
}

/*
V2EmailsGet List emails

Lists email metadata from your workspace's connected mailboxes. Email content is never returned. At least one of `linked_object` with `linked_record_ids`, `participants`, or `domain` must be supplied — there is no way to list every email. When several are supplied they are combined with OR: emails matching any of the filters are returned. Filters that identify your own workspace — a member's or invited member's address, one of your mailboxes, or any of their domains — are ignored. Emails from a mailbox shared with your workspace as metadata only are returned without a subject line. An email that reached more than one of your mailboxes is returned once, and `linked_records` is derived when you make the request rather than stored, so it reflects your records as they are now.

This endpoint is in alpha and may be subject to breaking changes as we gather feedback.

Required scopes: `email:read`, `record_permission:read`, `object_configuration:read`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV2EmailsGetRequest
*/
func (a *EmailsAPIService) V2EmailsGet(ctx context.Context) ApiV2EmailsGetRequest {
	return ApiV2EmailsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V2EmailsGet200Response
func (a *EmailsAPIService) V2EmailsGetExecute(r ApiV2EmailsGetRequest) (*V2EmailsGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V2EmailsGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.V2EmailsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/emails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.linkedObject != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "linked_object", r.linkedObject, "form", "")
	}
	if r.linkedRecordIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "linked_record_ids", r.linkedRecordIds, "form", "")
	}
	if r.participants != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "participants", r.participants, "form", "")
	} else {
		var defaultValue string = ""
		r.participants = &defaultValue
	}
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	}
	if r.sentAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sent_after", r.sentAfter, "form", "")
	}
	if r.sentBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sent_before", r.sentBefore, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
